.col-md-9{
    width: 900px;
}
.col-md-3{
    margin-left: -185px;
}
.tash{
    font-size: 20px;
}
.tashh{
    margin-left: 50px;
    font-size: 25px;
    font-family: Calibri;
}
.ga{
    line-height: 4px;
}
.tashd{
    font-family: Calibri;
    margin-left: 50px;
}
.d{
    margin-bottom: 15px;
}