body{
    background-image: none;
}
.container{
    width: 1250px;
    display: block;
    margin: 15px auto;
    padding: 0;
}
.navbar{
    background-image: url("../rasmlar/backgroundhalaltour5.png") !important;
    background-repeat: repeat-x;
    background-size: 300px;
}
.row{
    width: 100%;
    display: block;
}
.col-md-3{
    width: 20%;
    float: left;
    margin-top: 35px;
    margin-left: 0;
}
.col-md-9{
    width: 79%;
    float: left;
    margin-top: 35px;
}
.card{
    border: 1px solid whitesmoke;
    width: 220px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.homep{
    margin-left: 30px;
    margin-top: 0;
    color: gray;
    font-family: Calibri;
    font-size: 14px;
}
.homep a{
    color: black;
    text-decoration: underline black !important;
}
.homep a:hover{
    text-decoration: none !important;
    font-family: Calibri;
}
.H2-GREEN{
    text-align: left !important;
    margin-left: 30px;
    margin-top: 20px !important;
}
.tr1{
    font-size: 24px;
    margin-left: 30px;
    font-family: Calibri;
}
.tr2{
    font-family: "Times New Roman";
    font-size: 20px;
    margin-left: 30px;
    line-height: 5px;
}
.tr3{
    font-family: "Times New Roman";
    font-size: 20px;
    margin-left: 30px;
}
.viza1{
    width: 300px;
    margin-left: 30px;
}
.viza2{
    width: 200px;
    margin-left: 30px;
}